html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    border: 1px solid lightgrey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}
html{
    height: 100%;
}
#logo a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(184, 177, 177);
}

.container{
    width: 100%;
}

.entete{
    min-height: 40px;
    width: 100%;
    /*border: 1px lightgrey solid;*/
    z-index: 1000;
}
.principale{
    width: 100%;
    padding-top: 40px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#conteneur_form{
    width: 40%;
    min-height: 250px;
    border: 1px lightgrey solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(20, 99, 119);
}

.titre{
 color: rgb(20, 99, 119);
}

#form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}
.champs{
    width: 100%;
}
.conteneurChamp, .redir{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    height: 30px;
}

.formgauche{
    width: 30%;
    height: 100%;
}
.formdroite{
    width: 70%;
    height: 100%;
}
.formdroite input{
    width: 100%;
    height: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
#check{
    display: flex;
    justify-content: center;
    align-items: center;
}
#check{
    color: grey;
    
}
#checkStay{
    width: 12px;
    height: 12px;
    border: 1px solid lightgrey;
    margin-left: 20px;
}
#validation{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#validation input{
    height: 30px;
    background: rgb(20, 99, 119);
    border: none;
    color: white;
    min-width: 40%;
}
.redir span{
    color: grey;
}
.redir a{
    text-decoration: none;
    color: rgb(20, 99, 119);
}
.error_message, .success_message{
    min-height: 20px;
    width: 80%;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}


.error_message{    
    color: #f10303;
    background: #dabebe;
}
.success_message{
    color: green;
    background: rgb(165, 185, 165);
}
hr{
    width: 60%;
    border: 1px solid lightgrey;

}


@media screen and (max-width : 650px ) {
    #conteneur_form{
        width: 90%;
    }
}
